<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cagliostro|Caveat:700,400|Kanit:300" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container" style="top:13em;position:relative;">
      <!-- Page 1 -->
      <h1 class="text-center" style="font-family:'Caveat';font-size:120px;font-weight:700">The <%= title %></h1>
      <h1 class="text-center" style="font-family:'Caveat';font-size:30px;">What would you say, giving it'd be your last words ?</h1>
      
      <!-- Page 2 -->
      <div class="container" style="top:40em;position:relative;">
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <p style="text-align:justify;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Death </em>penalty has been one of the controversial human rights issues in every places around the world.
              This is a visualization of the dataset <b>"Last Words of Death Row Inmates"</b> from <a href="http://www.kaggle.com">Kaggle.com</a>.
              The dataset includes information on criminals executed by Texas Department of Criminal Justice from 1982 to November 8th, 2017. 
              Some of the statements are as follows:
            </p>
            <blockquote style="top:4em;position: relative;">
              <p style="text-align:justify;">
                <q>
                  All I want to say is I'm innocent, I didn't kill my wife. Jack Leary shot my wife then her dope dealer Guy Fernandez. 
                  Don't hold it against me, Bill. I swear to God I didn't kill her. Go ahead and finish it off. You can taste it.
                </q>
              </p>
              <footer>
              Thurmond Keith
              </footer>
            </blockquote>
            <blockquote style="top:5em;position:relative;">
              <p style="text-align:right;">
              <q>
                I'm ready to go home.
              </q>
              </p>
              <footer>
              Charles	Derrick
              </footer>
            </blockquote>
            <blockquote style="top:7em;position:relative;">
              <p style="text-align:justify;">
              <q>
                  Yes sir, I want to tell my mom that I love her and thank her for everything that she has done for me. 
                  Tell my sister that I love her too thank her for everything that she has done for me. 
                  I hope you can move on after this. I'll be fine. I'll be O.K. I love you too. I love you too. 
                  Take care O.K. That's all I have to say Warden. Thank you sir.
              </q>
              </p>
              <footer>
              Martinez James
              </footer>
            </blockquote>
          </div>
          <div class="col-sm-2">
          </div>
        </div>

        <!-- Page 3 -->
        <div class="container" style="top:45em;position:relative;">
          <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-9">
              <p style="text-align:justify;font-size:22px;">
                first, some basic statistics ..
              </p>
            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        <div class="container" style="top:50em;position:relative;">
          <div class="row justify-content-md-center">
            <div class="col-3 text-center" id="counter">
              <span class="counter-value" data-count="545"></span>
              <p>Offenders</p>
            </div>
            <div class="col-3 text-center" id="counter">
              <span class="counter-value" data-count="28.4"></span>
              <p>Average Age</p>
            </div>
            <div class="col-3 text-center" id="counter">
              <span class="counter-value" data-count="10"></span>
              <p>Average Education Level</p>
            </div>
          </div>
          <div class="row justify-content-md-center" style="top:6em;position:relative;">
            <div class="col-md-auto text-center" id="counter">
              <span class="counter-value" data-count="735" style="font-size:120px"></span>
              <p style="top:0.7em;position:relative;font-size:30px"><b>Victims</b></p>
            </div>
          </div>
        </div>

        <!-- Page 4 -->
        <div class="container" style="top:80em;position:relative;">
          <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-9">
              <p style="text-align:justify;font-size:22px;">
                <!-- see any relation ? -->
                does race matter ? 
              </p>
            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        <!-- Bar Charts -->
        <div class="container" style="top:80em;position:relative;">
          <div class="row justify-content-md-center" style="top:6em;position:relative;height:15em;">
            <div class="col-sm-4 text-center" style="height:100%">
              <div style="height:100%" id="graph-1"></div>
              <p>Offenders by Race</p>
            </div>
            <!-- <div class="col-sm-1">
            </div> -->
            <div class="col-sm-4 text-center" style="height:100%">
              <div style="height:100%" id="graph-2"></div>
              <p>Avg. Victims by Offenders Race</p>
            </div>
            <div class="col-sm-4 text-center" style="height:100%">
              <div id="race-heatmap" style="height:100%"></div>
              <p>Offenders Race and Avg. Victims by Race</p>
            </div>
          </div>
        </div>
        <!-- Heatmap -->
        <div class="container" style="top:90em;position:relative;">
          <div class="row justify-content-md-center" style="top:6em;position:relative;height:30em;">
            <!-- <div class="col text-center" style="height:100%">
              <div id="race-heatmap">
              </div>
            </div> -->
          </div>
        </div>

        <!-- Page 5 -->
        <!-- Map -->
        <div class="container" style="top:97em;position:relative;">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-9">
                <p style="text-align:justify;font-size:22px;">
                  does county matter ?
                </p>
              </div>
              <div class"text-center"  class="col-sm-2" style="top:12em;left:4em;z-index:10;">
                <div id="legend">
                  <span id="legend-title-info"> <i class="fas fa-info-circle"></i></span>
                  <div class="legend-item">
                    <div class="legend-swatch" style="background:rgb(255,247,240)"></div>
                    <div class="legend-value"> 0 </div>
                  </div>
                  <div class="legend-item">
                    <div class="legend-swatch" style="background:rgb(247,228,221)"></div>
                    <div class="legend-value"> 1 - 5 </div>
                  </div>
                  <div class="legend-item">
                    <div class="legend-swatch" style="background:rgb(239,219,208)"></div>
                    <div class="legend-value"> 6 - 10 </div>
                  </div>
                  <div class="legend-item">
                    <div class="legend-swatch" style="background:rgb(225,202,190)"></div>
                    <div class="legend-value"> 11 - 20 </div>
                  </div>
                  <div class="legend-item">
                    <div class="legend-swatch" style="background:rgb(214,189,157)"></div>
                    <div class="legend-value"> 21 - 25 </div>
                  </div>
                  <div class="legend-item">
                    <div class="legend-swatch" style="background:rgb(198,146,129)"></div>
                    <div class="legend-value"> 26 - 40 </div>
                  </div>
                  <div class="legend-item">
                    <div class="legend-swatch" style="background:rgb(181,133,103)"></div>
                    <div class="legend-value"> 41 - 50 </div>
                  </div>
                  <div class="legend-item">
                    <div class="legend-swatch" style="background:rgb(156,101,58)"></div>
                    <div class="legend-value"> 51 - 60 </div>
                  </div>
                  <div class="legend-item">
                    <div class="legend-swatch" style="background:rgb(107,68,28)"></div>
                    <div class="legend-value"> > 60 </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container" style="top:100em;position:relative;">
            <div class="row justify-content-md-center">
              <div id="map-container">
              </div>
            </div>
            
          </div>
        

      

    <!-- Optional JavaScript -->
    <!-- D3 Library -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- jQuery Code -->

    <!-- Legend Tooltip -->
    <script>
      var legendtip = d3.select("body")
        .append("div") 
        .attr("class", "legendtip") 

      var legend_info = d3.select("#legend-title-info")
        .on("mouseover", function(){
          legendtip.transition()
            .duration(200)
            .style("opacity", .9)
            legendtip.html("<div> Number of offenders convicted in that county </div>" )
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 50) + "px")
        })
        .on('mouseout', function(d){
          legendtip.transition()
          .duration(500)
          .style("opacity", 0)
        })
    </script>
    <!-- Number count-up -->
    <script>
      var isPassed = 0;
      $(window).scroll(function() {
        var oTop = $('#counter').offset().top - window.innerHeight;
        if (isPassed == 0 && $(window).scrollTop() > oTop) {
          $('.counter-value').each(function() {
            var $this = $(this),
              countTo = $this.attr('data-count')
            $({
              countNum: $this.text()
            }).animate({
                countNum: countTo
              },
              {
                duration: 3500,
                easing: 'swing',
                step: function() {
                  $this.text(Math.floor(this.countNum));
                },
                complete: function() {
                  $this.text(this.countNum);
                }
              })
          })
          isPassed = 1
        }

      })
    </script>
    <!-- D3 Code -->
    <script src="/javascripts/map.js"></script>
    <script src="/javascripts/bar_chart.js"></script>
    <script src="/javascripts/heatmap.js"></script>
  </body>

</html>
